.action_wrap{
    position:absolute;

    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    border-top: .5px solid white;
    border-left:.5px solid white ;
    margin-top: 10rem;
    bottom: 0 !important;
    align-self: center;
}
.action_button{
    text-align: center;
    margin: 1rem 1rem;
    width: 120px;
    height: 60px;

}