.menu_wrap{
background-color: gray;
position: absolute;
width: 15%;
height: 100%;
left: 8px;
display: flex;
text-align: center;
flex-direction: column;
align-content: flex-start;
justify-content: flex-start;
}
li{
    padding: none;
    margin: 0!important;
}